fastapi
uvicorn
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
bcrypt
greenlet
pydantic
pydantic-settings
typing-extensions
anyio
sniffio
h11
httptools
websockets
watchfiles
python-multipart
itsdangerous
cryptography